@font-face {
  font-family: Yeseva_one;
  src: url("../fonts/yeseva_one/YesevaOne-Regular.ttf");
}
@font-face {
  font-family: Nunito;
  src: url("../fonts/nunito-sans/NunitoSans-Regular.ttf");
}
@font-face {
  font-family: NunitoLightItalic;
  src: url("../fonts/nunito-sans/NunitoSans-LightItalic.ttf");
}
@font-face {
  font-family: NunitoLight;
  src: url("../fonts/nunito-sans/NunitoSans-Light.ttf");
}
body {
  margin: 0;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 5px 85px;
  box-sizing: border-box;
  display: flex;
  border: 1px solid #f44336;
}
header {
  background-color: #131313;
}
.container.top {
  font-family: Nunito;
  font-size: 11px;
  align-items: center;
  height: 83px;
  flex-direction: row;
  column-gap: 70px;
}
nav.box__menu {
  flex-grow: 2;
}
.box__company {
  text-transform: uppercase;
  color: rgb(227, 184, 115);
}
.box__menu ul {
  display: flex;
  justify-content: space-around;
}
.box__menu ul li {
  list-style-type: none;
}
.box__menu ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.box__menu ul li a:hover {
  color: rgb(227, 184, 115);
  text-decoration: underline;
}
.box__menu ul li:nth-child(1) > a {
  color: rgb(227, 184, 115);
}
.box__contact {
  display: flex;
  justify-content: flex-end;
  gap: 25px;
}
.phonenumber {
  align-self: center;
  color: rgb(227, 184, 115);
  text-decoration: underline;
}
.main__banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.66), rgba(0, 0, 0, 0.66)), url("../images/image 4.3.jpg");
  height: 707px;
  background-size: cover;
}
.main__banner > .container {
  flex-direction: column;
  position: relative;
  top: 150px;
  right: 375px;
  width: 700px;

} 

/********************Headers********************/
h1 {
  font-family: Yeseva_one;
  font-size: 40px;
  font-weight: 200;
  line-height: 53px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

h2 {
  font-family: Yeseva_one;
  font-size: 27px;
  font-weight: 200;
  line-height: 37px;
  letter-spacing: -0.07em;
  text-transform: uppercase;
  color: rgb(227, 184, 115);
}
h3 {
  font-family: Yeseva_one;
  font-size: 18px;
  font-weight: 200;
  text-transform: uppercase;
  color: rgb(227, 184, 115);
}
h4 {
  font-family: Yeseva_one;
  font-size: 20px;
  font-weight: 200;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}
/********************Headers********************/

/********************change h4 color********************/
.title__white {
  color:#131313;
}
/********************change h4 color********************/

.city__name {
  color: rgb(227, 184, 115);
}
.box__text {
  font-family: NunitoLight;
  font-size: 22px;
  line-height: 36px;
  color: rgb(255, 255, 255);
  margin-bottom: 25px;
}


/***************all buttons style***************/
.submit {
  font-family: NunitoLightItalic;
  font-size: 11px;
  background: rgb(227, 184, 115);
  border-radius: 2px;
  border: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
/***************button in header***************/
.box__contact button {
  font-family: NunitoLightItalic;
  text-align: center;
  text-transform: uppercase;
  width: 161px;
  height: 37px;
}
/***************button in main__banner***************/
.calculate {
  width: 207px;
  height: 51px;
}
.send {
  width: 207px;
  height: 51px;
  border: 1px solid white;
  background: none;
}
/***************button in apply__form****************/
.measurer, .online {
  width: 200px;
  height: 51px;
  font-family: NunitoLight;
}

.box__submit {
  display: flex;
  gap: 20px;
}

.block1 p {
  font-family: NunitoLight;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  color: rgb(255, 255, 255);
}
.block2 div p {
  font-family: NunitoLight;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  color: rgb(255, 255, 255);
}
.black__container {
  background-color: #131313;
  padding-bottom: 400px;
}
.white__container {
  position: relative;
  bottom: 415px;
}
.completed__projects {
  background-color: #131313;
  padding-bottom: 400px;
}
.completed__projects > .container {
  flex-direction: row;
  gap: 55px;
  align-items: flex-end;
  justify-content: space-around;
  padding-top: 80px;
}
.block1 {
  margin-bottom: 30px;
}
.block2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.nav__projects__photo {
  padding-bottom: 25px;
}
.nav__projects__photo ul {
  display: flex;
  gap: 50px;
  padding: 0px;
  list-style-type: none;
}
.nav__projects__photo ul li.active {
  color: rgb(227, 184, 115);
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(227, 184, 115);
  line-height: 15px;
}
.nav__projects__photo ul li {
  font-family: Yeseva_one;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.3);
}
.completed__projects__desc {
  display: flex;
  flex-direction: column;
}
.block_arrows {
  margin-top: 20px;
}
.completed__projects__photo {
  display: flex;
  flex-direction: column;
}
.block_arrows {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  width: 240px;
  margin-top: 50px;
}
.arrow__box1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.arrow__box2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.right__arrow {
  width: 41px;
  border-bottom: 1px solid white;
}
.left__arrow {
  width: 41px;
  border-bottom: 1px solid white;
}
.arrow1 {
  border-style: solid;
  border-color: white;
  border-image: initial;
  border-width: 0px 1px 1px 0px;
  display: inline-block;
  padding: 4px;
  position: absolute;
}
.arrow2 {
  border-style: solid;
  border-color: white;
  border-image: initial;
  border-width: 0px 1px 1px 0px;
  display: inline-block;
  padding: 4px;
  position: absolute;
  left: 31px;
}
.right {
  transform: rotate(-45deg);
}
.left {
  transform: rotate(135deg);
}
.dot:nth-child(1) {
  background: rgb(255, 255, 255);
}
.dot {
  height: 10px;
  width: 10px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}
.camera {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 30px;
}
.line {
  border-bottom: 1px solid rgb(227, 184, 115);
  width: 32px;
}
.online__control {
  position: relative;
  bottom: 375px;
}
.online__control > .container {
  /* padding-top: 57px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.online__control p {
  font-family: NunitoLight;
  font-size: 18px;
  line-height: 37px;
  text-align: center;
  width: 681px;
}
.renovation {
    background-image: linear-gradient(rgba(0, 0, 0, 0.66), rgba(0, 0, 0, 0.66)), url("../images/image\ 6.png");
    width: 817px;
    height: 434px;
    background-repeat: no-repeat;
    margin: auto;
}
hr {
  width: 60px;
  border: 1px solid rgb(227, 184, 115);
  margin-top: 50px;
}

.apply label, input {
  padding: 5px;
  font-family: NunitoLight;
  font-size: 14px;
  line-height: 23px;
  outline: 0;
  border-width: 0 0 1px;
  border-color: rgba(54, 54, 54, 0.3);;
  color: rgba(54, 54, 54, 0.5);
}
.apply.white label, input {
  color: rgba(255, 255, 255, 0.5);
  background: none;
}
.apply.white {
  display: flex;
  flex-direction: column;
}
::placeholder {
  color: black;
}
.apply__form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  gap: 40px;
  margin-top: 50px;
}
.apply__form div:nth-of-type(4) {
  grid-column: 1/4;
}
.apply__form input{
  width: 231px;
  display: flex;
  flex-direction: column;
}

.request__form {
  padding: 20px;
  background-color: #131313;
}
.request__form p {
  color: #fff;
  font-family: NunitoLight;
  font-size: 18px;
  line-height: 26px;
  text-align: center;

color: #FFFFFF;
}
.question__form {
  padding: 20px;
}
.checkbox {
  text-align: center;
}
.agreeTo {
  display: block;
  position: relative;
  cursor: pointer;
  font-family: NunitoLight;
  font-size: 14px;
  line-height: 23px;
}
.agreeTo input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  left: 240px;
  height: 15px;
  width: 15px;
  background-color: #fff;
  border: 2px #E3B873 solid;
}
.agreeTo:hover input ~ .checkmark {
  background-color: #E3B873;
}
.agreeTo input:checked ~ .checkmark {
  background-color: #E3B873;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.agreeTo input:checked ~ .checkmark:after {
  display: block;
}
.agreeTo .checkmark:after {
  left: 5px;
  top: 1px;
  width: 4px;
  height: 9px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  transform: rotate(35deg);
}


.benefits {
  display: flex;
  align-items: center;
  gap: 15px;
}
.benefits p {
  font-family: NunitoLight;
  font-size: 14px;
  line-height: 19px;
  color: #363636;
}
.round__circle {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background-color: #fff;
  
}
.round__circle div {
  background-color: #E3B873;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.request {
    padding: 10px;
}

.types__of__repair {
  position: relative;
  bottom: 300px;
}
.repair__prices img {
  width: 392px;
  height: 421px;
}
.overhaul, .redecorating, .designer__repair {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container > .block {
  display: flex;
  flex-direction: row;
  column-gap: 40px;
  justify-content: center;
}
.overhaul, .redecorating, .designer__repair {
  padding: 10PX;
}
.price {
  background-color: #E3B873 !important;
  box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
  font-family: Yeseva_one;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 228px;
}
.types__of__repair  > .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 5px 0px;
}
.types__of__repair h4, .camera, .request {
  grid-column: 1/4;
  justify-content: center;
  text-align: center;
}
.types__of__repair p {
  font-family: Yeseva_one;
  font-size: 18px;
  line-height: 25px;
  color: #363636;
}
.types__of__repair ul {
  padding-left: 15px;
}
.types__of__repair li {
  font-family: NunitoLight;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 27px;
  color: #959595;
}

.request {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-image: url("../images/image\ 6.1.png");
  height: 645px;
  background-repeat: no-repeat;
}

.fantasies {
  align-items: center;
  gap: 50px;
}
.fantasy__gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 40px;
}
img.img1 {
  position: relative;
  top: 130px;
}
img.img2 {
  position: relative;
  bottom: 120px;
}
img.img4 {
  position: relative;
  bottom: 260px;
}
.wildest__fantasies > .container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.66), rgba(0, 0, 0, 0.66)), url("../images/image\ 5.3.png");
  height: 864px;
  background-size: cover;
}
.fantasy__type li {
  list-style-type: none;
  font-family: NunitoLight;
  font-size: 20px;
  line-height: 38px;
  color: #FFFFFF;
}
.fantasy__type li:nth-child(1) {
  border-bottom: 1px solid #E3B873;
  width: 150px;
  line-height: 25px;
  color: #E3B873;
}
section.our__clients {
  position: relative;
  top: 60px;
}
.our__clients > .container {
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.clients p {
  font-family: NunitoLight;
  font-size: 18px;
  line-height: 29px;
  color: #363636;
}
.personas  {
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.personas > div {
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
  padding: 30px;
}
.personsa__name img {
  border-radius: 50%;
}
.personsa__name p {
  font-family: Yeseva_one;
  font-size: 18px;
  line-height: 23px;
  color: #181818;
}
.persona__story {
  font-family: NunitoLight;
  font-size: 13px;
  line-height: 23px;
  color: #959595;
}
.persona__task {
  background-color: #E3B873;
  font-family: Yeseva_one;
  font-size: 17px;
  line-height: 24px;
  text-transform: uppercase;
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 293px;
  box-sizing: border-box;
  align-items: center;
}
.area {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  border-right: 1px solid white;
  padding: 10px 15px 10px 10px;
}
.duaration {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

footer {
  height: 133px;
  background-color: #131313;
}